USE [country_club]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 2020-05-17 6:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[bookid] [int] NOT NULL,
	[facid] [int] NULL,
	[memid] [int] NULL,
	[starttime] [varchar](19) NULL,
	[slots] [int] NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[bookid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Facilities]    Script Date: 2020-05-17 6:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facilities](
	[facid] [int] NOT NULL,
	[name] [varchar](15) NULL,
	[membercost] [decimal](2, 1) NULL,
	[guestcost] [decimal](3, 0) NULL,
	[initialoutlay] [int] NULL,
	[monthlymaintenance] [int] NULL,
 CONSTRAINT [PK_Facilities] PRIMARY KEY CLUSTERED 
(
	[facid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Members]    Script Date: 2020-05-17 6:16:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[memid] [int] NOT NULL,
	[surname] [varchar](17) NULL,
	[firstname] [varchar](9) NULL,
	[address] [varchar](39) NULL,
	[zipcode] [int] NULL,
	[telephone] [varchar](14) NULL,
	[recommendedby] [varchar](2) NULL,
	[joindate] [varchar](19) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[memid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Bookings] ([bookid], [facid], [memid], [starttime], [slots]) VALUES (0, 3, 1, N'2012-07-03 11:00', 2)
INSERT [dbo].[Bookings] ([bookid], [facid], [memid], [starttime], [slots]) VALUES (1, 4, 1, N'2012-07-03 8:00', 2)
INSERT [dbo].[Bookings] ([bookid], [facid], [memid], [starttime], [slots]) VALUES (2, 6, 0, N'2012-07-03 18:00', 2)
GO
INSERT [dbo].[Facilities] ([facid], [name], [membercost], [guestcost], [initialoutlay], [monthlymaintenance]) VALUES (0, N'Tennis Court 1', CAST(5.0 AS Decimal(2, 1)), CAST(25 AS Decimal(3, 0)), 10000, 200)
INSERT [dbo].[Facilities] ([facid], [name], [membercost], [guestcost], [initialoutlay], [monthlymaintenance]) VALUES (1, N'Tennis Court 2', CAST(5.0 AS Decimal(2, 1)), CAST(25 AS Decimal(3, 0)), 8000, 200)
INSERT [dbo].[Facilities] ([facid], [name], [membercost], [guestcost], [initialoutlay], [monthlymaintenance]) VALUES (2, N'Badminton Court', CAST(0.0 AS Decimal(2, 1)), CAST(16 AS Decimal(3, 0)), 4000, 50)
INSERT [dbo].[Members] ([memid], [surname], [firstname], [address], [zipcode], [telephone], [recommendedby], [joindate]) VALUES (0, N'GUEST', N'GUEST', N'GUEST', 0, N'(000) 000-0000', N'', N'2012-07-01 0:00')
INSERT [dbo].[Members] ([memid], [surname], [firstname], [address], [zipcode], [telephone], [recommendedby], [joindate]) VALUES (1, N'Smith', N'Darren', N'8 Bloomsbury Close, Boston', 4321, N'555-555-5555', N'', N'2012-07-02 12:02')
INSERT [dbo].[Members] ([memid], [surname], [firstname], [address], [zipcode], [telephone], [recommendedby], [joindate]) VALUES (2, N'Smith', N'Tracy', N'8 Bloomsbury Close, New York', 4321, N'555-555-5555', N'', N'2012-07-02 12:08')
